$container-width: 960px !default;
$header-bg-color: lightblue !default;
$menu-user-bg-color: lightgreen !default;
$aside-bg-color: lightyellow !default;
$aside-menu-bg-color: lightsalmon !default;
$gallery-cols: 4 !default;
$gallery-grid-gap: 8px !default;
