$aside-bg-color: lightgreen;
$mobile-max-width: 700px;

@import 'variables';
@import 'generic';

.container {
  width: $container-width;
  margin: 0 auto;

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

header {
  background-color: $header-bg-color;
  height: 75px;
  position: relative;

  /* header h1 */
  h1 {
    margin: 0;
  }

  .menu-user {
    background-color: $menu-user-bg-color;
    position: absolute; /* perds son width: 100%, devient largeur du contenu */
    top: 0;
    right: 0;
    padding: 5px 30px;

    a {
      color: #000;
      text-decoration: none;
      font-size: 1.4em;

      /* header .menu-user a:hover */
      &:hover {
        text-decoration: underline;
      }

      + a::before {
        content: " / ";
      }
    }
  }
}




.flex-container {
  > aside {
    width: 30%;
    background-color: $aside-bg-color;
    float: left;

    @media (max-width: $mobile-max-width) {
      width: 100%;
      float: none;
    }

    nav {
      li {
        margin: 10px 0;
      }

      a {
        text-align: center;
        font-size: 2em;
        color: #fff;
        text-decoration: none;
        background-color: $aside-menu-bg-color;
        width: 100%;
        display: block;
        transition: background-color 400ms linear;

        &:hover {
          background-color: darken($aside-menu-bg-color, 30%);
          transition: background-color 400ms linear;
        }
      }
    }
  }

  > main {
    width: calc(70% - 10px);
    float: left;
    padding: 5px;

    @media (max-width: $mobile-max-width) {
      float: none;
      width: calc(100% - 10px);
    }
  }
}


.breadcrumb {
  li {
    display: inline;

    + li::before {
      content: " / ";
    }

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.gallery {
  div {
    float: left;
    width: calc(
      #{100% / $gallery-cols} - #{(
          $gallery-grid-gap * ($gallery-cols - 1) / $gallery-cols
        )}
    );
    margin-right: $gallery-grid-gap;
    margin-bottom: $gallery-grid-gap;
    height: 100px;
    background-color: lightskyblue;

    &:nth-child(#{$gallery-cols}n + #{$gallery-cols}) {
      margin-right: 0;
    }
  }
}


@import 'utilities';


/*
@media (max-width: 700px) {
  aside, main {
    float: none !important;
  }
}
*/
